.nav__user{
    position: relative;
    color: white;
    /* transform: translate(0%, -58%); */
}

.nav__user:hover{
    color: #e1efee;
}

.nav__user #button__user{
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}

.menu__ngdung--1{
    color: rgb(198, 184, 184);
    padding: 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0,2);
    width: 100%;
}

.menu__ngdung .menu__ngdung--2{
    color: #000000;
}

.menu__ngdung--1:hover{
    color: #E95454;
}

.nav__user .menu__ngdung{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: absolute;
    width: 170px;
    right: 0px;
    border-radius: 3px;
    display: none;
    background-color: white;
    z-index: 1;
}
.nav__user:hover .menu__ngdung{
    display: block;
}
